<header class="header">
  <div class="container">
    <nav class="nav">
      <a class="nav-logo" href="./index.html" aria-label="Site logo">
        <svg class="nav-logo-icon" width="100" height="30">
          <use href="{=$icon-path}"></use>
        </svg>
      </a>
      <ul class="nav-list">
        <li class="nav-item">
          <a class="nav-link" href="#home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#game-desc">Game Description</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#gallery">Gallery</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#faq">FAQ</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#reviews">Reviews</a>
        </li>
      </ul>
      <div class="burger">
        <svg class="burger-icon" width="30" height="30">
          <use href=""></use>
        </svg>
      </div>
      <div class="wrapper">
        <div class="mobile">
          <div class="mobile-btn-clouse">
            <svg class="btn-icon-clouse" width="30" height="30">
              <use href=""></use>
            </svg>
          </div>
          <ul class="mobile-list">
            <li class="mobile-item">
              <svg class="mobile-icon" width="16" height="16">
                <use href=""></use>
              </svg>
              <a class="nav-lin" href="#home">Home</a>
            </li>
            <li class="mobile-item">
              <svg class="mobile-icon" width="16" height="16">
                <use href=""></use>
              </svg>
              <a class="nav-link" href="#game-desc">Game Description</a>
            </li>
            <li class="mobile-item">
              <svg class="mobile-icon" width="16" height="16">
                <use href=""></use>
              </svg>
              <a class="nav-link" href="#gallery">Gallery</a>
            </li>
            <li class="mobile-item">
              <svg class="mobile-icon" width="16" height="16">
                <use href=""></use>
              </svg>
              <a class="nav-link" href="#faq">FAQ</a>
            </li>
            <li class="mobile-item">
              <svg class="mobile-icon" width="16" height="16">
                <use href=""></use>
              </svg>
              <a class="nav-link" href="#reviews">Reviews</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
</header>
